body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}


.hero {
  background-image: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("../images/fondo-fiesta.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  padding: 120px 20px;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background: #e91e63;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
}

#paquetes {
  padding: 50px 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
}

.card.destacado {
  border: 2px solid #e91e63;
}

.galeria img {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.videos video {
  width: 300px;
  margin: 10px;
}

footer {
  background: #000;
  text-align: center;
  padding: 15px;
}